/* Base styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Login.css */
.sign-in-button,
.Google-button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.sign-in-button:hover,
.Google-button:hover {
  background-color: #1400FF;
}

.key {
  margin-right: 10px;
  text-align: left;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-right {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-login {
  max-width: 300px;
  margin: 0 auto;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.login-input:focus {
  border-color: #0074e4;
}

.blue-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .form-login {
      max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .App-logo {
      height: 20vmin;
  }

  .App-header {
      font-size: calc(10px + 1.5vmin);
  }

  .masuk-text h1 {
      font-size: 30px;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.textorange {
color:#F98121;
}
.btn normal-case text-white rounded bg-secondary{
  color:#F98121; 
}